Repository tkesgar/sharo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*{css,scss,sass}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Use stylelint-config-sharo for stylelint config
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

Move @types to deps instead of devDeps
  package-lock.json
  package.json
Due: prettier --write

Use @tkesgar/reno for env
  lib/env.js
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Remove Bootstrap and use a simpler test page
  default.env
  package.json
  pages/_app.tsx
  pages/index.tsx
  styles/bootstrap-variables.scss
  styles/main.scss
  styles/normalize.css
Due: prettier --write, stylelint --fix

Remove unused dotenv (using @tkesgar/reno instead)
  package.json
Due: prettier --write

Add sample page with simple component example
  components/RepoCard/index.tsx
  components/RepoCard/styles.module.scss
  pages/index.tsx
  styles/main.scss
Due: prettier --write, stylelint --fix

Add testing with cypress
  .gitignore
  cypress.json
  cypress/integration/index-page.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Ignore next js export output
  .gitignore
Due: none

Remove repo description from test
  components/RepoCard/index.tsx
  cypress/integration/index-page.js
Due: eslint --fix, prettier --write

Update eslint-config-sharo-scripts to v0.5.1
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Add testing with jest
  components/RepoCard/index.test.tsx
  components/RepoCard/index.tsx
  jest.config.json
  package-lock.json
  package.json
  tests/stubs/css-module.ts
  tsconfig.jest.json
Due: eslint --fix, prettier --write

@types/jest should be in deps instead of devdeps
  package-lock.json
  package.json
Due: prettier --write

Add jsx and tsx files to lint-staged config
  .lintstagedrc.json
Due: prettier --write

Exclude *.local.env from git
  .gitignore
Due: none

Update settings.json, disable built-in TS linter
  .vscode/settings.json
Due: prettier --write

Update README
  README.md
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix react-hooks lint issues
  components/RepoCard/index.tsx
Due: none

Add missing ext argument to npm lint:scripts
  package.json
Due: prettier --write

Add files included with cypress
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
Due: eslint --fix, prettier --write

Ignore coverage/ directory from stylelint
  .stylelintignore
Due: none

Update README a bit
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Add baseUrl and path config to tsconfig.json
  tsconfig.jest.json
  tsconfig.json
Due: prettier --write

Remove @tkesgar/reno
  next.config.js
Due: eslint --fix, prettier --write

Update dependencies
  .prettierignore
  README.md
  components/RepoCard/index.test.tsx
  cypress/fixtures/example.json
  jest.config.json
  package-lock.json
  package.json
  tsconfig.jest.json
  tsconfig.json
Due: prettier --write

Adjust lint-staged to pass all files to prettier
  .lintstagedrc.json
Due: prettier --write

Update VS Code settings
  .vscode/settings.json
Due: prettier --write

Update sharo packages to v3.0.0-beta.2
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Ignore .next and coverage for eslint and stylelint
  .eslintignore
  .prettierignore
Due: none

Remove unused default.env
  default.env
Due: none

Update husky to v5
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

Remove husky post-install package.json
  README.md
  package.json
Due: prettier --write

Fix npm audit
  package-lock.json
Due: prettier --write
